<div class="flex p-2 justify-center align-middle">
  <!-- <div class="flex-1 max-w-xl">
        <app-date-picker />
    </div> -->

  <div class="flex-1 w-full text-center">
    <div class="text-center py-5 font-bold">
      <span
        class="inline-flex items-center justify-center w-8 h-8 border border-primary rounded-full bg-primary text-white">
        1
      </span>
      Pilih Tarikh
    </div>

    <input type="date" class="input" />

    <div class="text-center py-5 font-bold">
      <span
        class="inline-flex items-center justify-center w-8 h-8 border border-primary rounded-full bg-primary text-white">
        2
      </span>
      Pilih Waktu
    </div>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-3 p-2 ">
      <div
        class="border border-primary font-semibold px-3 py-4 text-primary rounded-xl text-center cursor-pointer hover:bg-primary hover:text-white transition">
        9.00 AM - 9.30 AM
      </div>

      <div
        class="border border-primary font-semibold px-3 py-4 text-primary rounded-xl text-center cursor-pointer hover:bg-primary hover:text-white transition">
        9.30 AM - 10.00 AM
      </div>

      <div
        class="border border-primary font-semibold px-3 py-4 text-primary rounded-xl text-center cursor-pointer hover:bg-primary hover:text-white transition">
        10.30 AM - 11.00 AM
      </div>

      <div
        class="border border-primary font-semibold px-3 py-4 text-primary rounded-xl text-center cursor-pointer hover:bg-primary hover:text-white transition">
        11.00 AM - 11.30 AM
      </div>
    </div>

  </div>

</div>