<div class="bg-base-100 border border-gray-100 shadow-xl rounded-xl mt-3">
  <!-- Header -->
  <div class="flex items-center justify-between p-4 cursor-pointer select-none hover:bg-gray-50 transition"
    (click)="toggle()">
    <h3 class="font-semibold">Rekod Penggunaan Kredit</h3>
    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 transition-transform duration-300" [class.rotate-90]="isOpen"
      fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
    </svg>
  </div>

  <!-- Collapsible Content -->
  @if (isOpen) {
  <div>
    <!-- Scrollable container -->
    <div class="overflow-x-auto border-t border-gray-100">
      <table class="table min-w-[700px]">
        <thead>
          <tr>
            <th>No Rujukan</th>
            <th>Deskripsi</th>
            <th>Kredit</th>
            <th>Harga</th>
          </tr>
        </thead>
        <tbody>
          @for (item of records; track item.id) {
          <tr>
            <td>
              {{ item.referenceCode }} <br />
              <span class="text-xs text-gray-500">{{ item.id }}</span>
            </td>
            <td>
              {{ item.transactionDescription }}<br />
              {{ item.createdAt | date: 'dd-MM-yyyy h:mm a' }}
            </td>
            <td class="text-lg" [ngClass]="isCreditValue(item.amount) ? 'text-green-600' : 'text-red-600'">
              {{ item.creditAmount }}
            </td>
            <td>RM {{ item.amount | number:'1.2-2' }}</td>
          </tr>
          } @empty {
            <tr>
              <td colspan="4" class="text-gray-400 text-center">Tiada transaksi untuk akaun ini</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  }
</div>
