<app-admin-layout [title]="titlePage">

  <div class="mt-5 flex flex-col lg:flex-row gap-6 justify-center items-start">
    <!-- CARD 1 -->
    <div class="relative w-full lg:w-1/2 ">
      <div
        class="rounded-2xl overflow-hidden shadow-xl bg-gradient-to-r from-indigo-600 via-purple-700 to-pink-500 text-white p-6">
        <div class="mt-4">
          <p class="text-3xl font-bold mt-2">@if (card !== null) { {{ card.tier }} } @else { <span class="loading loading-spinner loading-md"></span> }</p>
        </div>

        <div class="mt-6 grid grid-cols-2 gap-4 text-sm">
          <div>
            <p class="opacity-70">Nama</p>
            <p class="font-semibold text-2xl">@if (card !== null) { {{ card.name }} } @else { <span class="loading loading-spinner loading-md"></span> }</p>
          </div>
          <!-- <div>
            <p class="opacity-70">Valid Sehingga</p>
            <p class="font-semibold text-2xl">@if (card !== null) { {{ card.validUntil | date:'d/M/yy' }} } @else { <span class="loading loading-spinner loading-md"></span> }</p>
          </div> -->
        </div>

        <!-- Limits -->
        <div class="mt-6 space-y-3">
          <div>
            <div class="flex justify-between text-xs">
              <p>Limit Kedai</p>
              <p>
                @if (card !== null) { 
                  @if (card.shopQuota == -1) {
                    Unlimited
                  } @else {
                    {{ card.shopQuota }} / 100
                  }
                } @else { 
                  <span class="loading loading-spinner loading-sm"></span> 
                }
              </p>
            </div>
            <progress class="progress progress-secondary w-full h-2" value="{{ card?.shopQuota }}" max="100"></progress>
          </div>
          <div>
            <div class="flex justify-between text-xs">
              <p>Limit Transaksi</p>
              <p>
                @if (card !== null) { 
                  @if (card.transactionQuota == -1) {
                    Unlimited
                  } @else {
                    {{ card.transactionQuota }} / 100
                  }
                } @else { 
                  <span class="loading loading-spinner loading-sm"></span> 
                }
              </p>
            </div>
            <progress class="progress progress-secondary w-full h-2" value="{{ card?.transactionQuota }}" max="100"></progress>
          </div>
          <div>
            <div class="flex justify-between text-xs">
              <p>Limit Catalogue</p>
              <p>
                @if (card !== null) { 
                  @if (card.catalogueQuota == -1) {
                    Unlimited
                  } @else {
                    {{ card.catalogueQuota }} / 100 
                  }
                } @else { 
                  <span class="loading loading-spinner loading-sm"></span> 
                }
              </p>
            </div>
            <progress class="progress progress-secondary w-full h-2" value="{{ card?.catalogueQuota }}" max="100"></progress>
          </div>
        </div>

        <!-- Footer features -->
        <div class="text-xs mt-4 flex flex-wrap gap-2 opacity-70">
          @if (card?.isAdsEnabled) { <span class="">Ads</span> }
          @if (card?.isPaymentGatewayEnabled) { <span class="">Payment Gateway</span> }
        </div>

        <!-- Shiny overlay effect -->
        <div class="absolute inset-0 bg-gradient-to-t from-white/10 to-transparent pointer-events-none"></div>
      </div>

    </div>

    <!-- CARD 2
    <div class="w-full lg:w-1/2">
      <div class="rounded-2xl overflow-hidden shadow-xl border border-primary p-6">
          <h2 class="card-title text-2xl text-primary font-bold mt-2">Upgrade Package</h2>

      </div>
    </div> -->
  </div>

  <div class="mt-4">
    <app-change-password />
    <app-update-profile />
  </div>


</app-admin-layout>
