<form action="" class="" [formGroup]="form" (ngSubmit)="submitForm()">
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Email</legend>
    <input type="text" class="input w-full rounded-3xl" placeholder="abu_ahchong_muthu@contoh.com" formControlName="email"/>
    <!-- <p class="label">Optional</p> -->
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Kata Laluan</legend>
    <input type="password" class="input w-full rounded-3xl" placeholder="******" formControlName="password"/>
    <!-- <p class="label">Optional</p> -->
  </fieldset>

  <div class="mt-3 mb-3">
    <button type="submit" class="btn w-full rounded-3xl btn-primary">Log Masuk</button>
  </div>

</form>
