<div class="bg-base-100 border border-gray-100 shadow-xl rounded-xl mt-3 overflow-hidden">
  <!-- Header -->
  <div
    class="flex items-center justify-between p-4 cursor-pointer select-none hover:bg-gray-50 transition"
    (click)="toggle()"
  >
    <h3 class="font-semibold">Tukar Kata Laluan</h3>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-5 h-5 transition-transform duration-300"
      [class.rotate-90]="isOpen"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
    </svg>
  </div>

  <!-- Collapsible Content -->
  <div
    class="transition-all duration-300 overflow-hidden"
    [style.maxHeight]="isOpen ? '500px' : '0'"
  >
    <div class="p-4 border-t border-gray-100 text-sm">
      <form action="" [formGroup]="form" (submit)="submit()">
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Nama</legend>
          <input type="text" class="input w-full" formControlName="firstName" />
        </fieldset>

        <fieldset class="fieldset">
          <legend class="fieldset-legend">Phone No</legend>
          <input type="text" class="input w-full" formControlName="phoneNo" />
        </fieldset>

        <fieldset class="fieldset">
          <legend class="fieldset-legend">Email</legend>
          <input type="email" class="input w-full" formControlName="email" />
        </fieldset>

        <button class="mt-2 btn rounded-4xl w-full py-2 btn-primary" type="submit">
          Kemaskini
        </button>

      </form>
    </div>
  </div>
</div>
