<div class="flex">
  <div class="flex-1/2 hidden lg:block">
    <div class="p-10">
      <p class="py-2 font font-extrabold">Mini Ecommerce</p>
      <h1 class="text-7xl font-bold">
        Senang <br />
        <span class="text-primary">Cepat </span> <br />
        Efisien
      </h1>
      <p class="text-xl py-2">
        Platform mini e-commerce moden yang direka untuk menjadikan perniagaan
        anda lebih profesional, trusted dan berkembang pantas tanpa batasan
      </p>

      <div class="flex gap-2 mt-3">
        <button class="btn rounded-3xl btn-primary">Daftar Sekarang</button>
        <button class="btn rounded-3xl btn-secondary">Lihat Features</button>
      </div>
    </div>
  </div>
  <div class="flex-1/2 mt-15">
    <div class="shadow border border-gray-100 rounded-2xl px-2 py-5 m-1">
      @switch(mode) {
        @case ('sign-up') {
          <app-sign-up (cancel)="toggleFormMode($event)"/>
        }
        @case ('sign-in') {
          <app-sign-in />
        }
        @default {
          <app-forgot-password (cancel)="toggleFormMode($event)"/>
        }
      }

      @if (mode == 'sign-in')  {
        <div class="mt-3 mb-3">
          <button class="btn w-full rounded-3xl btn-ghost btn-sm text-xs" (click)="toggleFormMode('forgot-password')">
            Terlupa Kata Laluan
          </button>
        </div>
      }

      @if (mode == 'sign-in') {
        <hr style="color: rgb(188, 188, 188)" />

        <div class="mt-3">
          <button class="btn w-full rounded-3xl btn-secondary" (click)="toggleFormMode('sign-up')">
            Daftar Akaun Baharu
          </button>
        </div>
      }
    </div>
  </div>
</div>
