<!-- <div class="mt-2">
<h3 class="text-primary text-md font-bold">Katalog Varian</h3>
<div class="w-full flex justify-end">
    <button class="btn btn-primary rounded-4xl flex items-center gap-2 whitespace-nowrap"
    (click)="openAddModal()">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg>
    <span class="hidden sm:inline">Tambah Varian</span>
    </button>
</div>
<app-catalogue-variant-table [inventoryId]="form.controls['id'].value"
    (recordAction)="handleTableAction($event)" />
</div>

@if (modalIsOpen) {
<app-catalogue-variant-dialog [formTitle]="modalFormTitle" [submitLabel]="modalSubmitLabel"
[formMode]="modalFormMode" [record]="modalRecord" (formSubmitted)="onFormSubmit($event)" />
} -->
