<div class="flex flex-col items-center p-4">
  <!-- Card Container -->
  <div class="w-full max-w-lg bg-gray-50 rounded-2xl shadow-lg p-6 space-y-6">
    <!-- Booking Details -->
    <div>
      <h2 class="text-xl font-bold mb-4 text-center">Pengesahan Booking</h2>
      <div class="space-y-2 text-gray-700">
        <div class="flex justify-between">
          <span class="font-medium">Fasiliti:</span>
          <span>{{ facilityName }}</span>
        </div>
        <div class="flex justify-between">
          <span class="font-medium">Waktu Mula:</span>
          <span>{{ startTime }}</span>
        </div>
        <div class="flex justify-between">
          <span class="font-medium">Waktu Keluar:</span>
          <span>{{ endTime }}</span>
        </div>
        <div class="flex justify-between">
          <span class="font-medium">Bilangan Slot</span>
          <span>{{ totalSlot }}</span>
        </div>
        <div class="flex justify-between">
          <span class="font-medium">Jumlah Harga:</span>
          <span class="font-semibold text-indigo-600">RM {{ totalPrice }}</span>
        </div>
      </div>
    </div>


    @if (details.length > 0) {
    <div class="divider">Perinci</div>
    <p class="text-sm text-center text-gray-500">{{ getBookingDetail }}</p>
    }

    <div class="divider">Maklumat Anda</div>

    <!-- Booking Form -->
    <form class="space-y-4" [formGroup]="form" (submit)="confirmBooking()">
      <!-- Name -->
      <div>
        <label class="label">
          <span class="label-text">Name</span>
        </label>
        <input type="text" class="input input-bordered w-full" required formControlName="name" />
      </div>

      <!-- Email -->
      <div>
        <label class="label">
          <span class="label-text">Email</span>
        </label>
        <input type="email" class="input input-bordered w-full" required formControlName="email" />
      </div>

      <!-- Phone -->
      <div>
        <label class="label">
          <span class="label-text">No Telefon</span>
        </label>
        <input type="tel" class="input input-bordered w-full" required formControlName="phoneNo" />
      </div>

      <!-- Payment Options -->
      <div>
        <label class="label">
          <span class="label-text">Payment Method</span>
        </label>
        <select class="select select-bordered w-full" formControlName="paymentMethod">
          <option disabled selected>Choose a payment method</option>
          <option disabled>Online Banking (FPX)</option>
          <option>Cash on Arrival</option>
        </select>
      </div>

      <!-- Confirm Button -->
      <button type="submit" class="btn btn-primary rounded-lg w-full mt-4">
        Confirm Booking
      </button>
    </form>
  </div>
</div>
