<dialog open class="modal">
    <div class="modal-box w-full max-w-5xl relative bg-base-100 overflow-hidden">
        <!-- Header -->
        <div class="flex items-center justify-between">
            <h3 class="font-bold text-lg text-primary">Harga Fasiliti</h3>
            <button class="btn btn-sm btn-circle btn-ghost" (click)="closeDialog()">
                ✕
            </button>
        </div>
        <div class="mt-4 text-center">
            <div class="text-center mb-4">
                <h1 class="text-3xl font-semibold"> RM {{ record?.price | number:'1.2-2' }}
                    <span class="text-xs font-normal">{{ frequencyUnit }}</span>
                </h1>
            </div>

            @for (item of pricingPackages; track item.id) {
                <div class="shadow-lg rounded-2xl p-2">
                    <p>{{ item.packageName }}</p>
                    <h1 class="font-semibold text-3xl">
                        RM {{ item.totalPrice | number:'1.2-2' }}
                    </h1>
                    <p class="text-gray-600 text-xs">Pembelian dengan {{ item.threshold }} slot {{ getTimeSpending(item.threshold) }} </p>
                </div>
            }
        </div>
    </div>
</dialog>