<div class="w-full flex flex-col items-center gap-4">
  <!-- Table Wrapper with Horizontal Scroll -->
  <div class="w-full overflow-x-auto">
    <table class="table table-zebra table-fixed border border-base-300 w-full min-w-[600px]">
      <thead class="bg-base-200">
        <tr>
          @for(col of columns; track col.name) {
            <th>{{ col.name }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for(row of data; track row.id) {
        <tr class="hover:bg-base-300 cursor-pointer" (click)="onRowClick(row)">
          @for (col of columns; track col.key) {
            <td>
              @switch (col.transformer) {
                @case ('date') { <span>{{ row[col.key] | date: 'dd-MM-yyyy h:mm a' }}</span> }
                @case ('display') { 
                  @if(row[col.key] == true) { 
                    <span>
                      <svg xmlns="http://www.w3.org/2000/svg"
                      width="24" height="24" viewBox="0 0 24 24"
                      fill="none" stroke="currentColor" stroke-width="1.6"
                      stroke-linecap="round" stroke-linejoin="round"
                      role="img" aria-labelledby="title-eye">
                        <title id="title-eye">Show</title>
                        <path d="M1 12s4-7 11-7 11 7 11 7-4 7-11 7S1 12 1 12z"/>
                        <circle cx="12" cy="12" r="3"/>
                      </svg>
                    </span> 
                  } @else { 
                    <span>
                      <svg xmlns="http://www.w3.org/2000/svg"
                      width="24" height="24" viewBox="0 0 24 24"
                      fill="none" stroke="currentColor" stroke-width="1.6"
                      stroke-linecap="round" stroke-linejoin="round"
                      role="img" aria-labelledby="title-eye-off">
                        <title id="title-eye-off">Hide</title>
                        <path d="M17.94 17.94A10.07 10.07 0 0 1 12 19c-7 0-11-7-11-7a20.29 20.29 0 0 1 5.08-5.94"/>
                        <path d="M9.88 9.88a3 3 0 0 0 4.24 4.24"/>
                        <path d="M1 1l22 22"/>
                      </svg>
                    </span> 
                  } 
                }
                @default () { <span>{{ row[col.key] }}</span> }
              }
            </td>
          }
        </tr>
        }
      </tbody>
    </table>
    @if(data.length === 0) {
      <div class="text-center text-sm text-gray-500 p-4 w-full">
        Tiada Data. Mula cipta rekod sekarang!
      </div>
    }
  </div>
</div>

<!-- Pagination Controls -->
<div class="w-full mt-4 flex flex-col sm:flex-row sm:items-center sm:justify-end gap-4 px-4">
  <!-- Page Size Dropdown -->
  <div class="flex flex-col sm:flex-row sm:items-center gap-2">
    <label for="pageSize" class="text-sm font-medium">Lihat Rekod</label>
    <select id="pageSize" class="select select-bordered select-sm w-full sm:w-auto" [(ngModel)]="pageSize"
      (change)="onPageSizeChange()">
      <option [value]="5">5</option>
      <option [value]="10">10</option>
      <option [value]="20">20</option>
      <option [value]="50">50</option>
    </select>
  </div>

  <!-- Page Navigation -->
  <div class="flex flex-wrap items-center gap-2 justify-end">
    <button class="btn btn-sm rounded-4xl btn-primary" [disabled]="page === 0" (click)="previousPage()">‹</button>
    <span class="text-sm">{{ page + 1 }} | {{ totalPage }}</span>
    <button class="btn btn-sm rounded-4xl btn-primary" [disabled]="page + 1 >= totalPage" (click)="nextPage()">›</button>
  </div>
</div>
