<form [formGroup]="form">
  <div>
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Nama Produk</legend>
      <input type="text" name="name" class="input w-full" formControlName="name" />
    </fieldset>
  </div>

  <div>
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Deskripsi Produk</legend>
      <textarea class="textarea w-full" formControlName="itemDescription"></textarea>
    </fieldset>
  </div>

  <div>
    <fieldset class="fieldset">
      <label class="label">
        <input type="checkbox" name="enableOrderDeliver" formControlName="publish" class="checkbox" />
        Benarkan Produk Dipaparkan
      </label>
    </fieldset>
  </div>

</form>