<div>
  <div class="text-center">
    <p class="font-bold text-xl my-3">Dibangunkan oleh komuniti untuk masyarakat. Dipercayai industri tempatan</p>

    <div class="flex space-x-4 overflow-x-auto p-4 justify-start md:justify-center">

      <!-- Card -->
      <div class="card bg-base-100 w-80 shadow-sm shrink-0">
        <figure>
          <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Company XYZ</h2>
        </div>
      </div>

      <!-- Card -->
      <div class="card bg-base-100 w-80 shadow-sm shrink-0">
        <figure>
          <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Company XYZ</h2>
        </div>
      </div>

      <!-- Card -->
      <div class="card bg-base-100 w-80 shadow-sm shrink-0">
        <figure>
          <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Company XYZ</h2>
        </div>
      </div>

    </div>

  </div>
</div>