<details class="collapse collapse-arrow mt-3 bg-base-100 border-primary border">
  <summary class="collapse-title font-semibold">Tukar Kata Laluan</summary>
  <div class="collapse-content text-sm">
    <div>
      <form action="" [formGroup]="form" (submit)="submit()">
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Kata Laluan</legend>
          <input type="password" name="name" class="input w-full" formControlName="password" />
        </fieldset>

        <fieldset class="fieldset">
          <legend class="fieldset-legend">Ulang Kata Laluan</legend>
          <input type="password" name="name" class="input w-full" formControlName="confirmPassword" />
        </fieldset>

        <button class="mt-2 btn rounded-4xl w-full py-2 btn-primary" type="submit">
          Tukar Kata Laluan
        </button>

      </form>
    </div>

  </div>
</details>
