<app-admin-layout [title]="titlePage">
    <div class="flex items-center gap-2 py-5">
        <!-- Search Field -->
        <label class="input input-bordered rounded-4xl flex items-center gap-2 flex-1 max-w-full">
            <svg class="w-5 h-5 opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
                    <circle cx="11" cy="11" r="8"></circle>
                    <path d="m21 21-4.3-4.3"></path>
                </g>
            </svg>
            <input type="search" class="grow" aria-label="Search shop"
                [(ngModel)]="search" (ngModelChange)="search$.next($event)" />
        </label>

        <!-- Add Shop Button (now closer to the search) -->
        <button class="btn btn-primary rounded-4xl flex items-center gap-2 whitespace-nowrap"
            (click)="openAddProductModal()">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
            <span class="hidden sm:inline">Tambah Produk</span>
        </button>
    </div>

</app-admin-layout>