<div class="p-3">
  <h1 class="text-center text-primary text-3xl font-bold py-5">Feature <span class="text-black">yang disediakan</span></h1>

  <div class="flex-col space-y-2">

    <!-- Card -->
    <div class="card w-full bg-base-100 shadow-xl border-2 border-primary">
      <div class="card-body">
        <span class="badge badge-sm badge-primary">Percuma</span>
        <div class="flex justify-between">
          <h2 class="text-3xl font-bold">Pengurusan Katalog</h2>
        </div>
        <ul class="mt-2 list-disc list-inside leading-relaxed">
          <li>Kawalan pintar untuk mengurus katalog dengan pelbagai variasi produk</li>
          <li>Pemantauan bilangan stok secara masa nyata dengan ketepatan maksimum</li>
          <li>Pengurusan SKU yang sistematik, mudah dijejaki dan profesional</li>
          <li>Maklumat dipersembahkan secara ringkas tetapi lengkap dan menyeluruh</li>
        </ul>
      </div>
    </div>

    <!-- Card -->
    <div class="card w-full bg-base-100 shadow-xl border-2 border-primary">
      <div class="card-body">
        <span class="badge badge-sm badge-warning">Limited</span>
        <div class="flex justify-between">
          <h2 class="text-3xl font-bold">Pengurusan Kedai</h2>
        </div>
        <ul class="mt-2 list-disc list-inside leading-relaxed">
          <li>Dapat membina kedai dalam dua jenis mod. Mod miniecommerce ataupon mod booking slot</li>
          <li>Dapat menguruskan kedai</li>
          <li>Pengurusan SKU yang sistematik, mudah dijejaki dan profesional</li>
          <li>Maklumat dipersembahkan secara ringkas tetapi lengkap dan menyeluruh</li>
        </ul>
      </div>
    </div>


  </div>

</div>