<!-- container -->
<div class="overflow-y-auto px-4">
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    
    <!-- card -->
    <div class="card bg-base-100 shadow-sm w-full h-[350px]">
      <figure class="h-[150px] overflow-hidden">
        <img class="object-cover w-full h-full"
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
          alt="Shoes" />
      </figure>
      <div class="card-body p-4">
        <h2 class="card-title text-sm">Bilik A</h2>
        <p class="text-xs flex-grow">
          A card component has a figure, a body part, and inside body there are title and actions parts
        </p>
        <div class="card-actions flex-col gap-2">
          <button class="btn btn-outline btn-primary btn-sm w-full">Lihat Fasiliti</button>
          <button class="btn btn-primary btn-sm w-full">Pilih</button>
        </div>
      </div>
    </div>

    <!-- card -->
    <div class="card bg-base-100 shadow-sm w-full h-[350px]">
      <figure class="h-[150px] overflow-hidden">
        <img class="object-cover w-full h-full"
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
          alt="Shoes" />
      </figure>
      <div class="card-body p-4">
        <h2 class="card-title text-sm">Bilik A</h2>
        <p class="text-xs flex-grow">
          A card component has a figure, a body part, and inside body there are title and actions parts
        </p>
        <div class="card-actions flex-col gap-2">
          <button class="btn btn-outline btn-primary btn-sm w-full">Lihat Fasiliti</button>
          <button class="btn btn-primary btn-sm w-full">Pilih</button>
        </div>
      </div>
    </div>
    <!-- card -->
    <div class="card bg-base-100 shadow-sm w-full h-[350px]">
      <figure class="h-[150px] overflow-hidden">
        <img class="object-cover w-full h-full"
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
          alt="Shoes" />
      </figure>
      <div class="card-body p-4">
        <h2 class="card-title text-sm">Bilik A</h2>
        <p class="text-xs flex-grow">
          A card component has a figure, a body part, and inside body there are title and actions parts
        </p>
        <div class="card-actions flex-col gap-2">
          <button class="btn btn-outline btn-primary btn-sm w-full">Lihat Fasiliti</button>
          <button class="btn btn-primary btn-sm w-full">Pilih</button>
        </div>
      </div>
    </div>
    <!-- card -->
    <div class="card bg-base-100 shadow-sm w-full h-[350px]">
      <figure class="h-[150px] overflow-hidden">
        <img class="object-cover w-full h-full"
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
          alt="Shoes" />
      </figure>
      <div class="card-body p-4">
        <h2 class="card-title text-sm">Bilik A</h2>
        <p class="text-xs flex-grow">
          A card component has a figure, a body part, and inside body there are title and actions parts
        </p>
        <div class="card-actions flex-col gap-2">
          <button class="btn btn-outline btn-primary btn-sm w-full">Lihat Fasiliti</button>
          <button class="btn btn-primary btn-sm w-full">Pilih</button>
        </div>
      </div>
    </div>
    <!-- card -->
    <div class="card bg-base-100 shadow-sm w-full h-[350px]">
      <figure class="h-[150px] overflow-hidden">
        <img class="object-cover w-full h-full"
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
          alt="Shoes" />
      </figure>
      <div class="card-body p-4">
        <h2 class="card-title text-sm">Bilik A</h2>
        <p class="text-xs flex-grow">
          A card component has a figure, a body part, and inside body there are title and actions parts
        </p>
        <div class="card-actions flex-col gap-2">
          <button class="btn btn-outline btn-primary btn-sm w-full">Lihat Fasiliti</button>
          <button class="btn btn-primary btn-sm w-full">Pilih</button>
        </div>
      </div>
    </div>
    <!-- card -->
    <div class="card bg-base-100 shadow-sm w-full h-[350px]">
      <figure class="h-[150px] overflow-hidden">
        <img class="object-cover w-full h-full"
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
          alt="Shoes" />
      </figure>
      <div class="card-body p-4">
        <h2 class="card-title text-sm">Bilik A</h2>
        <p class="text-xs flex-grow">
          A card component has a figure, a body part, and inside body there are title and actions parts
        </p>
        <div class="card-actions flex-col gap-2">
          <button class="btn btn-outline btn-primary btn-sm w-full">Lihat Fasiliti</button>
          <button class="btn btn-primary btn-sm w-full">Pilih</button>
        </div>
      </div>
    </div>
    <!-- card -->
    <div class="card bg-base-100 shadow-sm w-full h-[350px]">
      <figure class="h-[150px] overflow-hidden">
        <img class="object-cover w-full h-full"
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
          alt="Shoes" />
      </figure>
      <div class="card-body p-4">
        <h2 class="card-title text-sm">Bilik A</h2>
        <p class="text-xs flex-grow">
          A card component has a figure, a body part, and inside body there are title and actions parts
        </p>
        <div class="card-actions flex-col gap-2">
          <button class="btn btn-outline btn-primary btn-sm w-full">Lihat Fasiliti</button>
          <button class="btn btn-primary btn-sm w-full">Pilih</button>
        </div>
      </div>
    </div>
    <!-- card -->
    <div class="card bg-base-100 shadow-sm w-full h-[350px]">
      <figure class="h-[150px] overflow-hidden">
        <img class="object-cover w-full h-full"
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
          alt="Shoes" />
      </figure>
      <div class="card-body p-4">
        <h2 class="card-title text-sm">Bilik A</h2>
        <p class="text-xs flex-grow">
          A card component has a figure, a body part, and inside body there are title and actions parts
        </p>
        <div class="card-actions flex-col gap-2">
          <button class="btn btn-outline btn-primary btn-sm w-full">Lihat Fasiliti</button>
          <button class="btn btn-primary btn-sm w-full">Pilih</button>
        </div>
      </div>
    </div>

</div>
