<!-- container -->
<div class="overflow-y-auto px-4">
  @if (facilityList != null) {
  <div class="grid grid-cols-2 max-w-7xl mx-auto md:grid-cols-3 lg:grid-cols-4 gap-4 pb-2">
    @for (data of facilityList; track data.facilityId) {
    <div class="card bg-base-100 shadow-sm w-full h-[370px]" [class.border-2]="isSelectedFacility(data.facilityId)" (click)="selectFacility(data)"
      [class.border-primary]="isSelectedFacility(data.facilityId)">
      <figure class="h-[150px] overflow-hidden">
        @if (data.facilityAttachment) {
        <img class="object-cover w-full h-full" [src]="getAttachmentPath(data.facilityAttachment)" alt="Shoes" />

        } @else {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
          <!-- soft gray background -->
          <circle cx="8" cy="8" r="7.5" fill="#F3F4F6" />
          <!-- camera icon in gray -->
          <path fill="#9CA3AF"
            d="M7 2.5a2.5 2.5 0 1 1-5 0a2.5 2.5 0 0 1 5 0zm4.225 4.053a.5.5 0 0 0-.577.093l-3.71 4.71l-2.66-2.772a.5.5 0 0 0-.63.062L.002 13v2a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4.5l-4.777-3.947z" />
        </svg>

        }
      </figure>
      <div class="card-body p-4">
        <h2 class="card-title text-sm">{{ data.facilityName }}</h2>
        <p class="text-xs flex-grow line-clamp-1">
          {{ data.itemDescription }}
        </p>
        <div class="card-actions flex-col gap-2">
          <button class="btn btn-primary btn-outline btn-sm w-full" [disabled]="!data.facilityAttachment" (click)="openAttachment(data.facilityId)">Lihat
            Fasiliti</button>
          <button class="btn btn-primary btn-sm w-full" (click)="openPricing(data)">Harga</button>
        </div>
      </div>
    </div>
    }
    @empty {
    <div class="col-span-2 md:col-span-3 lg:col-span-4 p-4 rounded-xl">
      <div class="flex flex-col items-center justify-center text-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="size-20 text-gray-400">
          <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path
              d="m12 6.8l6.6 6.6a2 2 0 0 0 2.8-2.8l-8-8c-.8-.8-2-.8-2.8 0L9.2 4M2 2l20 20M6.6 6.6l-4 4a2 2 0 0 0 2.8 2.8l4-4M14 22v-6a2 2 0 0 0-4 0v6" />
            <path d="M4 14v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2" />
          </g>
        </svg>

        <p class="mt-2 text-sm text-gray-700">
          Harap maaf. Fasiliti tidak tersedia buat masa sekarang
        </p>
      </div>

    </div>
    }
  </div>
  } @else {
  <div class="flex w-full justify-center items-center">
    <span class="loading loading-spinner loading-xl"></span>
  </div>
  }
  @if (isAttachmentDialogOpen) {
    <app-facility-attachment [catalogueId]="openAttachmentId" (closeDialogEvent)="handleAttachmentClosingDialog($event)"/>
  }
  @if (isPricingDialogOpen) {
    <app-facility-price [record]="openRecord" (closeDialogEvent)="handlePriceClosingDialog($event)"/>
  }
</div>