<div>
  <div class="fixed top-0 left-0 right-0 z-10 m-0 rounded-none p-2 bg-white">
    <div class="mb-3">
      <app-navigation-bar [primaryColor]="primaryColor" />
    </div>

    <div class="flex text-sm text-primary font-semibold border rounded-xl border-primary mb-2">
      <div class="flex-1 text-center rounded-xl p-2" [class.border]="toggleOption" [class.bg-primary]="toggleOption" [class.text-white]="toggleOption" [class.bg-white]="!toggleOption" [class.text-primary]="!toggleOption" (click)="setOption(true)">
        Carian Melalui Fasiliti
      </div>

      <div class="flex-1 text-center rounded-xl p-2" [class.border]="!toggleOption" [class.bg-primary]="!toggleOption" [class.text-white]="!toggleOption" [class.bg-white]="toggleOption" [class.text-primary]="toggleOption" (click)="setOption(false)">
        Carian Melalui Tarikh
      </div>

    </div>

    <div class="mb-2">
      <ul class="steps w-full text-xs">
        <li class="step" [class]="{ 'step-primary': currentStepper >= 1 }">
          <span class="step-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="size-5">
              <path fill="currentColor"
                d="M5.793 1a1 1 0 0 1 1.414 0l.647.646a.5.5 0 1 1-.708.708L6.5 1.707L2 6.207V12.5a.5.5 0 0 0 .5.5a.5.5 0 0 1 0 1A1.5 1.5 0 0 1 1 12.5V7.207l-.146.147a.5.5 0 0 1-.708-.708L5.793 1Zm3 1a1 1 0 0 1 1.414 0L12 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l1.854 1.853a.5.5 0 0 1-.708.708L15 8.207V13.5a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 4 13.5V8.207l-.146.147a.5.5 0 1 1-.708-.708L8.793 2Zm.707.707L5 7.207V13.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5V7.207l-4.5-4.5Z" />
            </svg>
          </span>Pilih Fasiliti
        </li>
        <li class="step" [class]="{ 'step-primary': currentStepper >= 2 }">
          <span class="step-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="size-5">
              <g fill="currentColor">
                <path
                  d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406c1.258 0 2-1.066 2-2.871c0-1.934-.781-2.668-1.953-2.668c-.926 0-1.797.672-1.797 1.809c0 1.16.824 1.77 1.676 1.77c.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164c-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18c-.601 0-1.144-.383-1.144-1.2c0-.823.582-1.21 1.168-1.21c.633 0 1.16.398 1.16 1.23z" />
                <path
                  d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
              </g>
            </svg>
          </span>Tarikh & Waktu
        </li>
        <li class="step" [class]="{ 'step-primary': currentStepper >= 3 }">
          <span class="step-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="size-5">
              <g fill="currentColor">
                <path
                  d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293L6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                <path
                  d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607l1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4a2 2 0 0 0 0-4h7a2 2 0 1 0 0 4a2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0a1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0a1 1 0 0 1 2 0z" />
              </g>
            </svg>
          </span>Sah & Bayar
        </li>
      </ul>
    </div>
  </div>

  <div class="pt-50"></div>

  @switch (currentStepper) {
  @case (1) {
  <app-facility-selection />
  }
  @case (2) {
  <app-facility-date-selection />
  }
  @default () {
  <app-facility-confirmation />
  }
  }

  <div class="pt-10"></div>

  <div class="fixed bottom-0 left-0 right-0 bg-base-100 shadow-lg p-2 flex justify-between gap-2">
    <button class="btn btn-outline btn-primary btn-sm flex-1" (click)="prev()" [disabled]="!isValidToProceedPrev()">
      <!-- back icon -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="size-7">
        <path fill="currentColor" fill-rule="evenodd"
          d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
      </svg>
      <span class="hidden md:inline">Kembali</span>
    </button>
    <button class="btn btn-primary btn-sm flex-1" (click)="next()" [disabled]="!isValidToProceedNext()">
      <!-- next icon -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="size-7">
        <path fill="currentColor" fill-rule="evenodd"
          d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
      </svg>
      <span class="hidden md:inline">Seterusnya</span>
    </button>
  </div>
</div>